@import url("file:///etc/xdg/waybar/style.css");
@import url("colors-waybar.css");


window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

label.module {
  margin: 5px;
  border: 2px solid @color11;
  border-radius: 10px;
}

#workspaces button {
  padding: 0;
}

#custom-updates {
  padding: 0 8px 0 8px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}

#custom-updates.green {
  background-color: rgba(0, 0, 0, 0.5);
}

#custom-updates.yellow {
  color: rgb(64, 56, 16);
  background-color: rgba(255, 223, 64, 0.9);
  border: none;
}

#custom-updates.red {
  color: rgb(64, 16, 16);
  background-color: rgba(255, 64, 64, 0.9);
  border: none;
}

#cpu {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}

#memory {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}

#network {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}

.module#pulseaudio {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}

#clock {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}
